<div class="categories-container">

  <div class="categories-container-content">

    <div class="categories-container-content-category" *ngFor="let item of (categoryInfo | async)?.results; index as i">

      <div class="categories-container-content-category-title" [routerLink]="[getIndexFromUrl(item.url)]" matRipple matRippleColor = #ffffff6b>
        <ng-container *ngIf="isFilms(item); else notAFilm">
          {{ item.title }}
        </ng-container>
        <ng-template #notAFilm>
          {{ item.name }}
        </ng-template>
      </div>
    </div>

  </div>

  <div class="categories-container-paginator">
    <mat-paginator [length]="(categoryInfo | async)?.count"
                   [pageSize]= 10
                   [hidePageSize]="true"
                   (page)="
                   pageEvent = $event;
                   loadPage($event);
                   "
                   aria-label="Select page"
                   #paginator
                   >
    </mat-paginator>
  </div>

</div>
