<div class="vehicles-container">

  <div class="vehicles-container-content">
    <ng-container *ngFor="let item of ((vehiclesInfo | async) | keyvalue); index as i">

      <ng-container *ngIf="item.key !== 'films' && item.key !== 'pilots' && item.key !== 'url'">
        <div class="vehicles--container-content-items">
          <div class="vehicles--container-content-items-main">
            {{item.key}}  :  {{item.value}}
          </div>
        </div>
        <div class="separator"></div>
      </ng-container>

      <ng-container *ngIf="item.key === 'films'">
        <div class="vehicles-container-content-items">
          films :
          <div class="vehicles-container-content-items-linked" *ngFor="let film of filmsInfo" [routerLink]="'../../films/' + film.number">
            {{ film.name }}
          </div>
        </div>
        <div class="separator"></div>
      </ng-container>

      <ng-container *ngIf="item.key === 'pilots'">
        <div class="vehicles-container-content-items">
          pilots :
          <div class="vehicles-container-content-items-linked" *ngFor="let pilot of peopleInfo" [routerLink]="'../../people/' + pilot.number">
            {{ pilot.name }}
          </div>
        </div>
        <div class="separator"></div>
      </ng-container>

<!--    </div>-->
    </ng-container>
  </div>
</div>
