<div class="starships-container">
  <div class="starships-container-content">
    <ng-container *ngFor="let item of ((starshipsInfo | async) | keyvalue); index as i">
      <ng-container *ngIf="item.key != 'films' && item.key != 'pilots' && item.key != 'url'">
        <div class="starships-container-content-items">
          <div class="starships-container-content-items-main">
            {{item.key}}  :  {{item.value}}
          </div>
        </div>
        <div class="separator"></div>
      </ng-container>

      <ng-container *ngIf="item.key == 'films'">
        <div class="starships-container-content-items">
          films :
          <div class="starships-container-content-items-linked" *ngFor="let film of filmsInfo" [routerLink]="'../../films/' + film.number">
            {{ film.name }}
          </div>
        </div>
        <div class="separator"></div>
      </ng-container>

      <ng-container *ngIf="item.key == 'pilots'">
        <div class="starships-container-content-items">
          pilots :
          <div class="starships-container-content-items-linked" *ngFor="let pilot of peopleInfo" [routerLink]="'../../people/' + pilot.number">
            {{ pilot.name }}
          </div>
        </div>
        <div class="separator"></div>
      </ng-container>
    </ng-container>
  </div>
</div>
