<div class="people-container">

<!--  <div class="people-container-content">-->
    <div class="people-container-content" *ngFor="let item of ((peopleInfo | async) | keyvalue); index as i">

      <ng-container *ngIf="item.key !== 'films' && item.key !== 'homeworld' && item.key !== 'species' && item.key !== 'starships' && item.key !== 'vehicles'">
        <div class="people-container-content-item">
          {{item.key}}  :  {{item.value}}
        </div>
      </ng-container>

      <ng-container *ngIf="item.key === 'films'">
        films :
        <div class="people-container-content-item" *ngFor="let film of filmsInfo" [routerLink]="'../../films/' + film.number">
          {{ film.name }}
        </div>
      </ng-container>

      <ng-container *ngIf="item.key === 'homeworld'">
        homeworld :
        <div class="people-container-content-item" [routerLink]="'../../planets/' + planetsInfo.number">
          {{ planetsInfo.name }}
        </div>
      </ng-container>

      <ng-container *ngIf="item.key === 'starships'">
        starships :
        <div class="people-container-content-item" *ngFor="let starship of starshipsInfo" [routerLink]="'../../starships/' + starship.number">
          {{ starship.name }}
        </div>
      </ng-container>

      <ng-container *ngIf="item.key === 'species'">
        species :
        <div class="people-container-content-item" *ngFor="let specie of speciesInfo" [routerLink]="'../../species/' + specie.number">
          {{ specie.name }}
        </div>
      </ng-container>

      <ng-container *ngIf="item.key === 'vehicles'">
        vehicles :
        <div class="people-container-content-item" *ngFor="let vehicle of vehiclesInfo" [routerLink]="'../../vehicles/' + vehicle.number">
          {{ vehicle.name }}
        </div>
      </ng-container>

    </div>
<!--  </div>-->

</div>
