.people-container {
  background-color: white;
  margin: 150px 400px 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  &-content {
    //display: flex;
    //align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

    }
  }
}
