.main-container {

  display: flex;
  height: 100%;

  &-content {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    column-gap: 400px;
    row-gap: 200px;
    padding-top: 150px;

    &-category {
      background-color: white;
      width: 200px;
      height: 40px;
      cursor: pointer;

      &-title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
